.heart {
	width: 1.5rem;
	stroke: #f91880;
	fill: #b5b5b57e;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	margin-right: 0.75rem;
}

.heart.pageload {
    animation: none !important;
}

.heart.like {
	animation: 0.75s ease-in-out forwards like;
    fill: #f91880;
}

.heart.unlike {
	animation: 0.75s ease-in-out forwards unlike;
    fill: #b5b5b57e;
}

@keyframes like {
	0% {
		stroke-dashoffset: 48;
		fill: #b5b5b57e;
	}
	75% {
		stroke-dashoffset: 0;
		fill: #b5b5b57e;
	}
	100% {
		stroke-dashoffset: 0;
		fill: #f91880;
	}
}

@keyframes unlike {
	0% {
		stroke-dashoffset: 0;
		fill: #f91880;
	}
	25% {
		stroke-dashoffset: 0;
		fill: #b5b5b57e;
	}
	100% {
		stroke-dashoffset: 48;
		fill: #b5b5b57e;
	}
}
