.card {
    box-sizing: border-box;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 100%;
	padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    border-radius: 7px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.196);
	background-color: white;
}

.profile {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding-bottom: 0.5rem;
}

.profile p {
    margin-left: 0.5rem;
    font-weight: 500;
    font-size: 0.8rem;
}

.content {
    margin: 1rem 0rem;
}

.avatar div {
	font-size: 0.6rem !important;
    user-select: none;
}

.card h2 {
    display: inline;
}

.tags {
    margin-top: 1rem;
}

.tags p {
    display: inline;
    outline: 1px solid #8080805c;
    border-radius: 45px;
    padding: 0.25rem 0.8rem;
    margin: auto 0.25rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.25s;
}

.tags p:hover {
    background-color: black;
    color: white;
}

.line {
    border-top: 1px solid #72727252;
    margin: 1rem 0rem 0.5rem 0rem;
}

.like {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem 0rem;
}
