.card {
    box-sizing: border-box;
    margin-right: 2rem;
    margin-bottom: 1.25rem;
    width: 100%;
	padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    border-radius: 7px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.196);
	background-color: white;
  position: relative;
}

.card img {
    width: 100%;
}

.card img {
    margin-bottom: 1rem;
}

.pin svg {
    width: 0.7rem;
    margin-right: 0.5rem;
    color: #536471;
}

.pin {
  user-select: none;
  margin: 0.5rem 0rem 0rem 0rem;
  display: flex;
  flex: start;
  font-size: 0.7rem;
  color: #536471;
  font-weight: 800;
}

.profile {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0.5rem;
    position: relative;
}

.profile a {
    text-decoration: none;
    color: inherit;
}

.profile p {
    margin-left: 0.5rem;
    font-weight: 500;
    font-size: 0.8rem;
}

.options {
    position: absolute;
    right: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
	padding: 0rem 0.25rem;
    transition: 0.15s ease-in-out;
    z-index: 50;
    margin-top: 0.25rem;
}

.options svg {
    margin-top: 0.25rem;
    width: 1.5rem;
}

.options:hover {
    background-color: #bebebe6b;
}

.content {
    margin: 1rem 0rem;
}

.avatar div {
	font-size: 0.6rem !important;
    user-select: none;
}

.card h3 {
    display: inline;
}

.tags {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tags p {
    display: inline;
    outline: 1px solid #8080805c;
    border-radius: 45px;
    padding: 0.25rem 0.8rem;
    margin: auto 0.25rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.25s;
}

.tags p:hover {
    background-color: black;
    color: white;
}

.line {
    border-top: 1px solid #72727252;
    margin: 1rem 0rem 0.25rem 0rem;
}

.like {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0rem 0.25rem 0rem;
}

blockquote {
	padding-left: 1rem;
	border-left: 2px solid #0d0d0d1b;
}

code {
	background-color: rgba(#616161, 0.1);
	color: #616161;
}

pre {
	background: #0d0d0d;
	color: #fff;
	font-family: 'JetBrainsMono', monospace;
	padding: 0.75rem 1rem;
	border-radius: 0.5rem;
}
pre code {
	color: inherit;
	padding: 0;
	background: none;
	font-size: 0.8rem;
}

.picture {
	width: 20px !important;
	height: 20px !important;
	border-radius: 100%;
    margin-bottom: 0px !important;
    object-fit: cover;
}

.avatar {
    display: flex;
}