.home {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 65rem;
    width: 90%;
    margin: 6rem auto 2rem auto;
}

@media only screen and (max-width: 600px) {
	.home {
		flex-direction: column-reverse;
	}
}
