.header {
    position: fixed;
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px 0 hsl(270deg 1% 53% / 20%);
    padding: 0 5%;
}

.header img {
    width: 6rem;
    margin-right: 3rem;
}

.left {
    display: flex;
    width: 35%;
}

.right ul {
    display: flex;
    list-style: none;
}

.right li {
    cursor: pointer;
    padding: 0 2rem;
}