.header {
	position: fixed;
	width: 100%;
	height: 4.5rem;
    top: 0;
    left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 5px 0 hsl(270deg 1% 53% / 20%);
	padding: 0 5%;
    background-color: white;
    font-weight: 500;
    z-index: 5;
}

.header img {
	width: 8rem;
	margin-right: 3rem;
	cursor: pointer;
}

.left {
	display: flex;
	width: 40%;
}

.right ul {
	display: flex;
	list-style: none;
    align-items: center;
    justify-content: center;
}

.right li {
    margin-right: 1rem;
	cursor: pointer;
	padding: 1rem 0.5rem;
    border-radius: 10px;
    transition: 0.15s ease-in-out;
    position: relative;
}

.right li svg {
    margin-top: 0.25rem;
    width: 1.5rem;
}

.right li:hover {
    color: #1083FD;
}

.right li a {
    text-decoration: none;
}

.badge {
    position: absolute;
    top: 1.1rem;
    right: 0.5rem;
    width: 0.45rem;
    height: 0.45rem;
    background-color: red;
    border-radius: 100px;
    border: 0.01rem solid rgba(219, 219, 219, 0.331);
}