.container {
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 115%;
    padding: 0.5rem 0.75rem;
    border: 1px solid #8080807e;
    border-radius: 45px;
    user-select: none;
    transition: 0.15s ease-in-out;
}

.avatar div {
	font-size: 1rem !important;
}

.container svg {
    width: 1rem !important;
    margin-top: 0rem !important;
    margin-right: 0.25rem !important;
}

.container svg path {
    transition: 0.15s ease-in-out;
}

.container:hover {
    background-color: #f1f1f142;
}

.picture {
	width: 30px !important;
	height: 30px;
	border-radius: 100%;
}

.avatar {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 0.4rem 0.5rem;
        font-size: 0.85rem;
    }

    .avatar div {
        font-size: 0.75rem !important;
    }

    .picture {
        width: 25px !important;
        height: 25px;
        border-radius: 100%;
    }
}