.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
  
.search input {
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    border: none;
    outline: 1px solid #80808055;
    margin-right: -3rem;
    background-color: #f5f5f5a2;
    transition: 0.25s;
}

.search input:hover,
.search input:focus {
    outline: 1px solid #1082fdb7;
}

.search input:focus {
    background-color: white;
}

.search button {
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.search svg {
    width: 1.25rem;
    height: 1.25rem;
}