.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
    

.search input {
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    border: none;
    outline: 1.25px solid gray;
    margin-right: -1.5rem;
}

.search button {
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.search svg {
    width: 20px;
    height: 20px;
}