.container {
	border: 2px solid #8d8d8d5d;
	border-radius: 10px;
	padding: 1rem 1rem 0.5rem 1rem;
    margin: 0.5rem 0rem;
}

.editor {
	min-height: 10rem;
	cursor: text;
}

:global(.ProseMirror) {
	min-height: 10rem;
}

.editor ul,
.editor ol {
	padding: 0 1rem;
}

.editor h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
}

.editor code {
	background-color: rgba(#616161, 0.1);
	color: #616161;
}

.editor pre {
	background: #0d0d0d;
	color: #fff;
	font-family: 'JetBrainsMono', monospace;
	padding: 0.75rem 1rem;
	border-radius: 0.5rem;
}
.editor pre code {
	color: inherit;
	padding: 0;
	background: none;
	font-size: 0.8rem;
}

.editor blockquote {
	padding-left: 1rem;
	border-left: 2px solid #0d0d0d1b;
}

.editor hr {
	border: none;
	border-top: 2px solid #0d0d0d1b;
	margin: 2rem 0;
}

.editor :global(p.is-editor-empty:first-child::before) {
	color: #adb5bd;
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

.editor p.is-editor-empty {
	color: #0d0d0d;
}

:global(.ProseMirror:focus) {
	outline: none;
}

.charcount {
	color: #868e96;
	text-align: right;
	user-select: none;
}

.menu button {
	user-select: none;
	padding: 0.6rem;
	border-radius: 10px;
	border: none;
	margin: 2px 2px;
	transition: 0.25s;
    cursor: pointer;
}

.menu button svg {
    width: 10px;
}

.menu .active {
	color: #dadada;
	background-color: black;
}
