.card {
    box-sizing: border-box;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 100%;
	padding: 0.6rem 1.5rem 1.5rem 1.5rem;
    border-radius: 7px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.196);
	background-color: white;
}

.heading {
    margin: 0;
}

.title {
    margin: 1rem 0rem;
    /* outline: 2px solid #8d8d8d5d; */
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.title:hover {
    background-color: inherit;
}

.line {
    border-top: 1px solid #72727252;
    margin: 0.8rem 0rem 1.5rem 0rem;
}

/* .editor {
    border: 1px solid gray;
    min-height: 6rem;
    cursor: text;
} */