.container {
	max-width: 17rem;
  width: 100%;
  height: 100%;
	margin: 0rem 0rem 1.5rem 2rem;
	position: sticky;
	top: 6rem;
	/* display: flex;
	flex-direction: column;
	justify-content: flex-end; */
}

.muted {
	font-size: 0.75rem;
	color: #0000008b;
}

.muted a {
	color: #0000008b;
	text-decoration: none;
}

@media only screen and (max-width: 800px) {
	.container {
		max-width: 13rem;
	}
}

@media only screen and (max-width: 600px) {
	.container {
    max-width: 100%;
    position: relative;
    top: 0px;
    margin: 0rem 0rem 1rem 0rem;
	}

	.muted {
		display: none;
	}
}