.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 17rem;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    margin: 0rem 2rem 1.5rem 0rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.196);
    border-radius: 7px;
    background-color: white;
    cursor:default;
    position: sticky;
    top: 6rem;
    min-height: 300px;
}

.container * {
    margin: 0px;
}

.avatar {
    position: relative;
    margin: 1.25rem 0rem;
    user-select: none;
}

.avatar div {
    font-size: 2rem;
}

.avatarOverlay {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transition: 0.25s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatarOverlay svg {
    opacity: 0;
    transition: 0.25s;
}

.avatarOverlay:hover {
    background-color: #737373b5;
}

.avatarOverlay:hover svg {
    opacity: 1;
}

.avatarPicture {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 60px;
    object-fit: cover;
}

.container .fromNow {
    font-weight: 200;
    font-size: 0.9rem;
    color: #8d8d8d;
    margin-top: 0.25rem;
}

.stats {
    margin: 1.5rem 0rem 0.5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0rem 1rem;
}

.stats p {
    display: block;
    font-weight: 500;
    font-size: 0.9rem;
}

.smallStats {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top:0.75rem;
}

.smallStats div {
    width: 100%;
}

.stats svg {
    width: 1rem;
    line-height: 1rem;
    margin-right: 0.5rem;
}

.stat div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.2rem;
}

.stat span {
    font-weight: 200;
    color: gray;
    font-size: 0.8rem;
}

.create {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    height: 2.25rem;
    border: none;
    border-radius: 45px;
    background-color: #dedede80;
	transition: 0.3s;
	cursor: pointer;
    margin: 1rem 0rem 0rem 0rem;
    font-weight: 500;
}

.create:hover {
    background-color: #e0e0e0;
}

.save {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    height: 2.25rem;
    border: none;
    /* border: 2px solid red; */
    border-radius: 45px;
    background-color: #5280ed;
    /* background-color: white; */
	transition: 0.3s;
	cursor: pointer;
    margin: 0.75rem 0rem 0.5rem 0rem;
    font-weight: 500;
    color: white;
}

.save:hover {
    background-color: #4a5dea;
}

.filebaseDiv input {
    display: none;
}

@media only screen and (max-width: 800px) {
	.container {
		max-width: 13rem;
	}
}

@media only screen and (max-width: 600px) {
	.container {
      max-width: 100%;
      position: relative;
      top: 0rem;
	}
}
